.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/* shared-design */
*{
    margin: 0;
    padding: 0;
}


/* header-design */
.logo{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight: 900px;
    
    
}
.sign-up{
    background-color: rgba(78, 71, 255, 1);
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    font-size: 12px;
    width: 132px;
    height: 48px;
    
}
.sign2{
    margin-bottom: 150px;
}
.pasha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px 158px 50px;
}
/* heading er banner */
.cool{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.header-container{
    text-align: center;
    /* margin-bottom: 150px; */
    


}

.heading{
    background-image: url(./Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* main-design */
.Ready{
    color: 252432;
    font-weight: bold;
    font-size: 42px;
}
.This{
    color: #252432;
    font-size: 24px;
    font-weight: 400px;

}
.Ger{
    padding: 16px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    width: 225px;
    border: none;
}
.pasha2{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
    margin-left: 141px;
    margin-right: 155px;
    background-color: rgba(255, 255, 255, 1);
}
.img-class{
    border-radius: 48px;
    width: 400px;
    height: 300px;}
    /* another step */
.another{
    display: flex;
}

.Joined{
    color: #252432;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}
.main-title{
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 80px;
}
.Active{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400px;
    font-size: 20px;
    
    
}
.pasha3{
    margin-right: 159px;
}
.another-done{
    margin-left: 141px;
    margin-right: 149px;
    background-color: rgb(176, 215, 230);
    padding: 50px 142px 50px 142px;
    border-radius: 24px;
    margin-bottom: 137px;
}
